In [1]:
#consistes of series
#group of series form dataframe

import pandas as pd
s1 = pd.Series(data=[1,2,3,4,5],index=['a','b','c','d','e'])

In [2]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [3]:
s2 = pd.Series(data=[11,22,33,44,55],index=['a','b','c','d','e'])

In [4]:
s2

a    11
b    22
c    33
d    44
e    55
dtype: int64

In [5]:
s1+s2

a    12
b    24
c    36
d    48
e    60
dtype: int64

In [7]:
s1['a']

1

In [8]:
s1['a':'d']

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
s1[0:3]

a    1
b    2
c    3
dtype: int64

In [10]:
pd.DataFrame({'A':s1,'B':s2})

   A   B
a  1  11
b  2  22
c  3  33
d  4  44
e  5  55

In [11]:
pd.DataFrame({'A':s1,'B':s2}, index=['a','b','g'])

     A     B
a  1.0  11.0
b  2.0  22.0
g  NaN   NaN

In [13]:
pd.DataFrame([s1,s2])

    a   b   c   d   e
0   1   2   3   4   5
1  11  22  33  44  55

In [14]:
s3 = pd.Series(data=[111,222],index=['a','b'])

In [15]:
s3

a    111
b    222
dtype: int64

In [16]:
df = pd.DataFrame({'A':s1,'B':s2, 'C':s3})

In [17]:
df

   A   B      C
a  1  11  111.0
b  2  22  222.0
c  3  33    NaN
d  4  44    NaN
e  5  55    NaN

In [24]:
tent_data = pd.read_csv('data\house_rental_data.csv')

In [25]:
tent_data.describe()

,Unnamed: 0,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
count,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000
mean,325.159690,1527.656260,5.939535,10.855814,2.837209,1.813953,1.810853,61986.823256
std,187.312152,767.386531,3.884721,4.996208,1.010740,0.462364,0.683574,35635.091007
min,1.000000,359.358000,1.000000,1.000000,1.000000,0.000000,0.000000,6100.000000
25%,164.000000,925.080000,3.000000,7.000000,2.000000,2.000000,1.000000,39000.000000
50%,326.000000,1423.200000,5.000000,12.000000,3.000000,2.000000,2.000000,50000.000000
75%,487.000000,1892.856000,8.000000,14.000000,4.000000,2.000000,2.000000,75000.000000
max,648.000000,5856.468000,22.000000,38.000000,7.000000,4.000000,5.000000,250000.000000

In [26]:
tent_data.head()

,Unnamed: 0,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom,Price
0,1,1177.698,2,7,2,2,2,62000
1,2,2134.800,5,7,4,2,2,78000
2,3,1138.560,5,7,2,2,1,58000
3,4,1458.780,2,7,3,2,2,45000
4,5,967.776,11,14,3,2,2,45000

In [28]:
emp_data = pd.read_csv('data\HR_comma_sep.csv')

In [32]:
emp_data.head()
#descriptive statistics

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [31]:
emp_data.describe()
#inferential staistics

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [33]:
emp_data.rename(columns={'sales':'dept'},inplace=True)

In [35]:
emp_data.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

emp_data.head()

In [41]:
emp_data.dept.value_counts()
#nominal data

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: dept, dtype: int64

In [42]:
emp_data.salary.value_counts()
#ordinal data => values have a relation

low       7316
medium    6446
high      1237
Name: salary, dtype: int64

In [43]:
emp_data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,dept,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [44]:
#first check if data is balanced is not
#question. to predict if a person will leave or not
#because we have a column/variable left=0/1

emp_data.left.plot()

In [50]:
emp_data.left.mean()

0.2380825388359224

In [51]:
#target variable/response variable/dependent variable => left
#All other variables => Feature vector/ Independent variable

#Usually dataset is represented as (vector(X), Y)
#Vector(X) => Feature vector

In [52]:
#need to heck if there are any lurking variables , which is not considered in X, or Y

In [53]:
#mean is impacted by outliers

#mean = sum/count
#median => Sort value, take middle
#mode => Max occuring value

In [54]:
emp_data.iloc[5:15]

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,dept,salary
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low
10,0.45,0.54,2,135,3,0,1,0,sales,low
11,0.11,0.81,6,305,4,0,1,0,sales,low
12,0.84,0.92,4,234,5,0,1,0,sales,low
13,0.41,0.55,2,148,3,0,1,0,sales,low
14,0.36,0.56,2,137,3,0,1,0,sales,low

In [62]:
cols = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship'
        ,'race','sex','capital-gain','capital-loss','hours-per-week','native-country','Salary']
adult = pd.read_csv('data/adult.data.txt', header=None, names=cols)

In [57]:
adult.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [63]:
adult.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education-num     32561 non-null int64
marital-status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital-gain      32561 non-null int64
capital-loss      32561 non-null int64
hours-per-week    32561 non-null int64
native-country    32561 non-null object
Salary            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [64]:
adult.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [65]:
target_data = adult['Salary']

In [67]:
feature_data = adult.drop(['Salary'], axis=1)

In [68]:
feature_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [69]:
target_data.head()

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: Salary, dtype: object

In [76]:
adult1 = adult.set_index('age')

In [77]:
adult1.head()

,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
age,,,,,,,,,,,,,,
39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [79]:
adult[adult.age == 20]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
103,20,Private,188300,Some-college,10,Never-married,Tech-support,Own-child,White,Female,0,0,40,United-States,<=50K
126,20,Private,111697,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,1719,28,United-States,<=50K
138,20,Private,34310,Some-college,10,Never-married,Sales,Own-child,White,Male,0,0,20,United-States,<=50K
243,20,?,119156,Some-college,10,Never-married,?,Own-child,White,Male,0,0,20,United-States,<=50K
256,20,Private,117789,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,<=50K
375,20,Local-gov,350845,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
397,20,?,137300,HS-grad,9,Never-married,?,Other-relative,White,Female,0,0,35,United-States,<=50K
400,20,Private,416103,Some-college,10,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K
420,20,Private,61777,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,30,United-States,<=50K
445,20,Private,298227,Some-college,10,Never-married,Sales,Not-in-family,White,Male,0,0,35,United-States,<=50K
448,20,Private,146538,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
496,20,Private,262749,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
517,20,?,214635,Some-college,10,Never-married,?,Own-child,White,Male,0,0,24,United-States,<=50K
565,20,Private,27337,HS-grad,9,Never-married,Handlers-cleaners,Own-child,Amer-Indian-Eskimo,Male,0,0,48,United-States,<=50K
650,20,Private,130959,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,20,United-States,<=50K
664,20,Private,81145,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,25,United-States,<=50K
668,20,?,114746,11th,7,Married-spouse-absent,?,Own-child,Asian-Pac-Islander,Female,0,1762,40,South,<=50K
693,20,Private,316702,Some-college,10,Never-married,Prof-specialty,Own-child,White,Male,0,0,20,United-States,<=50K
727,20,Private,299047,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,20,United-States,<=50K
809,20,Private,138768,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,0,0,30,United-States,<=50K
944,20,Private,241752,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
965,20,Private,323573,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,20,United-States,<=50K
1000,20,Private,148294,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,40,United-States,<=50K
1031,20,State-gov,223515,Assoc-acdm,12,Never-married,Other-service,Own-child,White,Male,0,1719,20,United-States,<=50K
1048,20,Private,74631,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,50,United-States,<=50K
1125,20,Private,117606,Assoc-voc,11,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
1141,20,Private,230891,Some-college,10,Never-married,Sales,Not-in-family,White,Male,0,0,45,United-States,<=50K
1159,20,Private,275691,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,28,United-States,<=50K
1173,20,Private,411862,Assoc-voc,11,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30791,20,Private,130840,10th,6,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K
30793,20,Private,334105,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,10,United-States,<=50K
30881,20,Private,333505,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,30,Nicaragua,<=50K
30894,20,Private,303565,Some-college,10,Never-married,Handlers-cleaners,Own-child,Black,Male,0,0,40,Germany,<=50K
30907,20,Private,168187,Some-college,10,Never-married,Other-service,Other-relative,White,Female,4416,0,25,United-States,<=50K
31052,20,Private,190227,Masters,14,Never-married,Exec-managerial,Own-child,White,Male,0,0,25,United-States,<=50K
31156,20,Private,381357,9th,5,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,28,United-States,<=50K
31183,20,Private,218962,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,<=50K
31265,20,Private,162688,Assoc-voc,11,Never-married,Other-service,Own-child,White,Male,0,0,40,United-States,<=50K
31279,20,?,95989,Some-college,10,Never-married,?,Own-child,White,Female,0,0,40,United-States,<=50K
31296,20,State-gov,214542,Some-college,10,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
31374,20,Private,63210,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,15,United-States,<=50K
31422,20,Private,163665,Some-college,10,Never-married,Transport-moving,Own-child,White,Female,0,0,17,United-States,<=50K
31490,20,Private,224640,Assoc-acdm,12,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K
31494,20,Private,105479,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,25,United-States,<=50K
31605,20,?,369678,12th,8,Never-married,?,Not-in-family,Other,Male,0,1602,40,United-States,<=50K
31698,20,?,189203,Assoc-acdm,12,Never-married,?,Not-in-family,White,Male,0,0,20,United-States,<=50K
31753,20,?,71788,Some-college,10,Never-married,?,Own-child,White,Female,0,0,18,United-States,<=50K
31769,20,Private,157332,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,25,United-States,<=50K
31804,20,Federal-gov,347935,Some-college,10,Never-married,Protective-serv,Own-child,Black,Male,0,0,40,United-States,<=50K
32030,20,Private,344394,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,30,United-States,<=50K
32045,20,Private,184045,Some-college,10,Never-married,Sales,Unmarried,Black,Female,0,0,30,United-States,<=50K
32108,20,Private,86143,Some-college,10,Never-married,Other-service,Other-relative,Asian-Pac-Islander,Male,0,0,30,United-States,<=50K
32168,20,Private,200153,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,38,United-States,<=50K
32275,20,?,99891,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
32387,20,Private,176321,Some-college,10,Never-married,Adm-clerical,Other-relative,White,Female,0,0,20,United-States,<=50K
32406,20,Private,234640,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32417,20,Private,227778,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,56,United-States,<=50K
32426,20,?,203992,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
32512,20,Private,270436,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K

In [86]:
adult1[adult1.index==20]

,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
age,,,,,,,,,,,,,,
20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States,<=50K
20,Private,188300,Some-college,10,Never-married,Tech-support,Own-child,White,Female,0,0,40,United-States,<=50K
20,Private,111697,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,1719,28,United-States,<=50K
20,Private,34310,Some-college,10,Never-married,Sales,Own-child,White,Male,0,0,20,United-States,<=50K
20,?,119156,Some-college,10,Never-married,?,Own-child,White,Male,0,0,20,United-States,<=50K
20,Private,117789,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,<=50K
20,Local-gov,350845,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
20,?,137300,HS-grad,9,Never-married,?,Other-relative,White,Female,0,0,35,United-States,<=50K
20,Private,416103,Some-college,10,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K
20,Private,61777,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,30,United-States,<=50K
20,Private,298227,Some-college,10,Never-married,Sales,Not-in-family,White,Male,0,0,35,United-States,<=50K
20,Private,146538,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
20,Private,262749,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
20,?,214635,Some-college,10,Never-married,?,Own-child,White,Male,0,0,24,United-States,<=50K
20,Private,27337,HS-grad,9,Never-married,Handlers-cleaners,Own-child,Amer-Indian-Eskimo,Male,0,0,48,United-States,<=50K
20,Private,130959,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,20,United-States,<=50K
20,Private,81145,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,25,United-States,<=50K
20,?,114746,11th,7,Married-spouse-absent,?,Own-child,Asian-Pac-Islander,Female,0,1762,40,South,<=50K
20,Private,316702,Some-college,10,Never-married,Prof-specialty,Own-child,White,Male,0,0,20,United-States,<=50K
20,Private,299047,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,20,United-States,<=50K
20,Private,138768,HS-grad,9,Never-married,Transport-moving,Own-child,White,Male,0,0,30,United-States,<=50K
20,Private,241752,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,<=50K
20,Private,323573,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,20,United-States,<=50K
20,Private,148294,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,40,United-States,<=50K
20,State-gov,223515,Assoc-acdm,12,Never-married,Other-service,Own-child,White,Male,0,1719,20,United-States,<=50K
20,Private,74631,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,50,United-States,<=50K
20,Private,117606,Assoc-voc,11,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
20,Private,230891,Some-college,10,Never-married,Sales,Not-in-family,White,Male,0,0,45,United-States,<=50K
20,Private,275691,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,28,United-States,<=50K
20,Private,411862,Assoc-voc,11,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,Private,130840,10th,6,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K
20,Private,334105,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,10,United-States,<=50K
20,Private,333505,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,30,Nicaragua,<=50K
20,Private,303565,Some-college,10,Never-married,Handlers-cleaners,Own-child,Black,Male,0,0,40,Germany,<=50K
20,Private,168187,Some-college,10,Never-married,Other-service,Other-relative,White,Female,4416,0,25,United-States,<=50K
20,Private,190227,Masters,14,Never-married,Exec-managerial,Own-child,White,Male,0,0,25,United-States,<=50K
20,Private,381357,9th,5,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,28,United-States,<=50K
20,Private,218962,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,<=50K
20,Private,162688,Assoc-voc,11,Never-married,Other-service,Own-child,White,Male,0,0,40,United-States,<=50K
20,?,95989,Some-college,10,Never-married,?,Own-child,White,Female,0,0,40,United-States,<=50K
20,State-gov,214542,Some-college,10,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
20,Private,63210,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,15,United-States,<=50K
20,Private,163665,Some-college,10,Never-married,Transport-moving,Own-child,White,Female,0,0,17,United-States,<=50K
20,Private,224640,Assoc-acdm,12,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States,<=50K
20,Private,105479,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,25,United-States,<=50K
20,?,369678,12th,8,Never-married,?,Not-in-family,Other,Male,0,1602,40,United-States,<=50K
20,?,189203,Assoc-acdm,12,Never-married,?,Not-in-family,White,Male,0,0,20,United-States,<=50K
20,?,71788,Some-college,10,Never-married,?,Own-child,White,Female,0,0,18,United-States,<=50K
20,Private,157332,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,25,United-States,<=50K
20,Federal-gov,347935,Some-college,10,Never-married,Protective-serv,Own-child,Black,Male,0,0,40,United-States,<=50K
20,Private,344394,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,0,0,30,United-States,<=50K
20,Private,184045,Some-college,10,Never-married,Sales,Unmarried,Black,Female,0,0,30,United-States,<=50K
20,Private,86143,Some-college,10,Never-married,Other-service,Other-relative,Asian-Pac-Islander,Male,0,0,30,United-States,<=50K
20,Private,200153,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,38,United-States,<=50K
20,?,99891,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
20,Private,176321,Some-college,10,Never-married,Adm-clerical,Other-relative,White,Female,0,0,20,United-States,<=50K
20,Private,234640,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
20,Private,227778,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,56,United-States,<=50K
20,?,203992,HS-grad,9,Never-married,?,Own-child,White,Male,0,0,40,United-States,<=50K
20,Private,270436,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K

In [90]:
adult.iloc[0]['marital-status']
#additional space. We have to trim

' Never-married'

In [97]:
adult['marital-status'] = adult['marital-status'].str.strip()

In [98]:
adult.iloc[0]['marital-status']

'Never-married'

In [99]:
adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary,marital-staus
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,Never-married
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,Married-civ-spouse
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,Divorced
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,Married-civ-spouse
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,Married-civ-spouse

In [102]:
adult = adult.drop('marital-staus', axis=1)

In [103]:
adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [105]:
adult.iat[0,2]

77516

In [106]:
adult.at[1,'education']

' Bachelors'

In [107]:
adult.loc[1:3]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K

In [115]:
adult.loc[adult['capital-loss'] > 0]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Salary
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
32,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States,<=50K
52,47,Private,51835,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,60,Honduras,>50K
93,30,Private,117747,HS-grad,9,Married-civ-spouse,Sales,Wife,Asian-Pac-Islander,Female,0,1573,35,?,<=50K
96,48,Self-emp-not-inc,191277,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K
112,56,Self-emp-not-inc,335605,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,1887,50,Canada,>50K
126,20,Private,111697,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,1719,28,United-States,<=50K
131,24,Private,43323,HS-grad,9,Never-married,Other-service,Not-in-family,White,Female,0,1762,40,United-States,<=50K
143,45,Private,196584,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Female,0,1564,40,United-States,>50K
148,64,Private,181232,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2179,40,United-States,<=50K
157,71,Self-emp-not-inc,494223,Some-college,10,Separated,Sales,Unmarried,Black,Male,0,1816,2,United-States,<=50K
170,27,Private,124953,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,1980,40,United-States,<=50K
172,51,Private,96062,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,1977,40,United-States,>50K
200,26,Private,397317,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,1876,40,United-States,<=50K
203,42,Local-gov,254817,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Female,0,1340,40,United-States,<=50K
222,90,Private,51744,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,2206,40,United-States,<=50K
244,38,Private,179488,Some-college,10,Divorced,Craft-repair,Not-in-family,White,Male,0,1741,40,United-States,<=50K
248,40,Private,207578,Assoc-acdm,12,Married-civ-spouse,Tech-support,Husband,White,Male,0,1977,60,United-States,>50K
321,43,Private,50356,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1485,50,United-States,<=50K
327,43,Private,187728,Some-college,10,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1887,50,United-States,>50K
363,43,Private,174575,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,1564,45,United-States,>50K
381,46,Private,214955,5th-6th,3,Divorced,Craft-repair,Not-in-family,White,Female,0,2339,45,United-States,<=50K
387,44,Private,162028,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,2415,6,United-States,>50K
404,28,Private,166481,7th-8th,4,Married-civ-spouse,Handlers-cleaners,Husband,Other,Male,0,2179,40,Puerto-Rico,<=50K
405,41,Private,445382,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,65,United-States,>50K
408,28,?,123147,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,1887,40,United-States,>50K
426,36,Federal-gov,255191,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,1408,40,United-States,<=50K
434,27,Private,116358,Some-college,10,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,1980,40,Philippines,<=50K
468,49,Private,192776,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,45,United-States,>50K
510,49,Private,141944,Assoc-voc,11,Married-spouse-absent,Handlers-cleaners,Unmarried,White,Male,0,1380,42,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32013,61,Private,179743,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2051,20,United-States,<=50K
32020,21,Private,211968,Some-college,10,Never-married,Sales,Own-child,White,Female,0,1762,28,United-States,<=50K
32035,40,Private,566537,Preschool,1,Married-civ-spouse,Other-service,Husband,White,Male,0,1672,40,Mexico,<=50K
32092,39,Private,30529,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1887,40,United-States,>50K
32131,48,Private,109814,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1977,45,United-States,>50K
32135,48,Private,175070,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Female,0,2258,40,United-States,>50K
32138,50,Self-emp-inc,121441,11th,7,Never-married,Exec-managerial,Other-relative,White,Male,0,2444,40,United-States,>50K
32147,50,Self-emp-not-inc,240922,Assoc-acdm,12,Never-married,Sales,Not-in-family,White,Female,0,1408,5,United-States,<=50K
32159,46,Private,155933,Bachelors,13,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,1602,8,United-States,<=50K
32216,45,Private,265097,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,1902,40,United-States,>50K
32218,37,Private,186009,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,1672,60,United-States,<=50K
32221,37,Self-emp-not-inc,162834,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,1902,45,United-States,>50K
32230,47,Self-emp-inc,102308,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,2415,45,United-States,>50K
32250,43,Private,409922,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,50,United-States,>50K
32254,31,Private,251659,Some-college,10,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,0,1485,55,?,>50K
32264,32,Private,260954,11th,7,Married-civ-spouse,Craft-repair,Husband,White,Male,0,2042,30,United-States,<=50K
32266,47,Local-gov,324791,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1887,50,United-States,>50K
32267,31,Private,183801,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,43,United-States,>50K
32270,60,Private,127084,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,2042,34,United-States,<=50K
32301,65,Local-gov,103153,7th-8th,4,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1411,40,United-States,<=50K
32307,42,Self-emp-inc,191196,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1977,60,?,>50K
32311,54,Private,161691,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Female,0,2559,40,United-States,>50K
32393,43,Private,191712,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,0,1741,40,United-States,<=50K
32400,53,Local-gov,186303,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,1887,40,United-States,>50K
32416,33,Private,191335,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,1902,50,United-States,>50K
32441,53,Private,304504,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,1887,45,United-States,>50K
32443,18,Private,41381,HS-grad,9,Never-married,Sales,Own-child,White,Female,0,1602,20,United-States,<=50K
32445,61,Private,190682,HS-grad,9,Widowed,Craft-repair,Not-in-family,Black,Female,0,1669,50,United-States,<=50K
32458,36,Private,237943,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1977,45,United-States,>50K
32500,34,Private,60567,11th,7,Divorced,Transport-moving,Unmarried,White,Male,0,880,60,United-States,<=50K

In [116]:
adult.iloc[0]['sex']

' Male'

In [117]:
titanic = pd.read_csv('data/titanic-train.csv')

In [118]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [119]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [120]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [122]:
titanic[titanic.Age.notnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
37,38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,NaN,C
860,861,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [127]:
titanic[titanic.Age.notnull()].Age.median()

28.0

In [129]:
#fill missing age
titanic.Age = titanic.Age.fillna(28)

In [130]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [138]:
titanic.Name.str.len().max()

82

In [141]:
titanic[titanic.Name.str.len() == 82]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
307,308,1,1,"Penasco y Castellana, Mrs. Victor de Satode (M...",female,17.0,1,0,PC 17758,108.9,C65,C

In [142]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [145]:
titanic.Fare.max()

512.3292

In [147]:
titanic[titanic.Fare == 512.3292]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C

In [149]:
titanic[titanic.Fare == 512.3292]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C