In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
house_data = pd.read_csv('data/house_rental_data.csv',index_col='Unnamed: 0')

In [3]:
house_data.head()

       Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
1  1177.698      2           7        2            2         2  62000
2  2134.800      5           7        4            2         2  78000
3  1138.560      5           7        2            2         1  58000
4  1458.780      2           7        3            2         2  45000
5   967.776     11          14        3            2         2  45000

In [4]:
house_data.columns

Index(['Sqft', 'Floor', 'TotalFloor', 'Bedroom', 'Living.Room', 'Bathroom',
       'Price'],
      dtype='object')

In [5]:
feature_data = house_data[['Sqft', 'Floor', 'TotalFloor', 'Bedroom', 'Living.Room', 'Bathroom',]]
target_data = house_data['Price']

In [7]:
from sklearn.model_selection import train_test_split
trainX, testX, trainy, testy = train_test_split(feature_data, target_data)

In [11]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [12]:
from sklearn.preprocessing import PolynomialFeatures

In [14]:
model.fit(trainX, trainy)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [15]:
model.score(testX, testy)

0.7019814259301123

In [16]:
pol = PolynomialFeatures(2)
feature_data_deg2 = pol.fit_transform(feature_data)

In [17]:
feature_data_deg2.shape

(645, 28)

In [18]:
model = LinearRegression()
trainX, testX, trainy, testy = train_test_split(feature_data_deg2, target_data)

In [19]:
model.fit(trainX,trainy)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [20]:
model.score(testX,testy)

0.7101567662467082

In [21]:
pol = PolynomialFeatures(3)
feature_data_deg3 = pol.fit_transform(feature_data)
model = LinearRegression()
trainX, testX, trainy, testy = train_test_split(feature_data_deg3, target_data)
model.fit(trainX,trainy)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [27]:
model.score(testX,testy)
from sklearn.metrics import mean_absolute_error

In [23]:
###################################### Way to try all polinomials together

In [40]:
transformers = []
predictors = []
for i in range(1,4):
    #creating transformer
    pol = PolynomialFeatures(i)
    
    #creating a mapping for transformer
    pol.fit(feature_data)
    transformers.append(pol)
    
    #Transform data
    f = pol.transform(feature_data)
    lr = LinearRegression()
    trainX, testX, trainY, testY = train_test_split(f,target_data)
    lr.fit(trainX, trainY)
    y_pred = lr.predict(testX)
    predictors.append(lr)
    print (mean_absolute_error(testY,y_pred))

15146.79972387772
29063.136516053
19596.70021671696

In [42]:
tf = transformers[0].transform(feature_data.loc[:4])

In [43]:
predictors[0].predict(tf)

array([44415.35705715, 80352.25774999, 43947.59183811, 53615.80844475])

In [44]:
feature_data.loc[:4]

       Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom
1  1177.698      2           7        2            2         2
2  2134.800      5           7        4            2         2
3  1138.560      5           7        2            2         1
4  1458.780      2           7        3            2         2

In [46]:
target_data.loc[:4]

1    62000
2    78000
3    58000
4    45000
Name: Price, dtype: int64

In [ ]:
#not perfect, need to do feature rreduction, regularization, etc